VITE_API_BASE_URL=https://lakay-social-production-fee1.up.railway.app

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloud_key
CLOUDINARY_API_SECRET=your_cloud_secret
CLOUDINARY_FOLDER=lakay/profiles
